body{
    margin: 0;
}
.aulaColumn {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #afafaf1a;
    padding: 10px;
}

.aulaFicheiros {
    padding: 10px;
}

.aulaSubmicoes {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    padding: 0.5%;
   
}

.aulaFile {
    display: flex;
}

.aulasubmicao {
    display: flex;
    flex-direction: row;    
    align-items: center;
    box-sizing: border-box;
}


.aulaContent {
    display: flex;
    flex-direction: row;
    background-color: #afafaf4d;
}

.tituloContainer {
    font-size: 32px;
    background-color: #9691e3;
    display: flex;
    justify-content: space-between;
    border: 1px solid #6c63ff;
}
.tituloContainer > p {
    margin: 25px;
    font-weight: bold;
}
.titlebtn {
    font-weight: bold;
    font-size: 1.1rem;
    background-color: white;
    align-items: center;
    padding: 10px 25px;
    text-align: center;
    color: black;
    border: 1px solid #6c63ff;
}
.titlebtn:hover {
    transition: 0.5s;
    color: white;
    background-color: #2f2e41;
    cursor: pointer;
}

.listaAulas {
    padding: 25px;
    background-color: #afafaf4d;
    border: 1px solid #6464647c;
}

.listaAulas > div {
    margin-bottom: 25px;
}

.aulaTitulo {
    padding: 10px;
    font-size: 1.5rem;
    background-color: #afafaf98;
    border: 1px solid #afafafd2;
}
.mainContainer {
    margin-top: 150px;
    width: 90%;
    margin: 150px auto 50px auto;
}
.inserirCodigoContainer {
    display: none;
    flex-direction: column;
    background-color: #afafaf;
    width: 25%;
    position: absolute;
    padding: 2%;
    left: 37.5%;
    top: 25%;
    z-index: 1;
}

.tituloHidden {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;

}
.hiddenContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
    text-align: left;
    
}
.hiddenRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 4%;
}
.hiddenRow input[type="text"] {
    width: 100%;
    margin-left: 6%;
    padding: 6px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.hiddenContent input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 8px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.titulobotoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}

.aulasubmicao input[type="submit"] {
    background-color: #000000;
    color: white;
    padding: 6px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.tituloHidden img {
    width: 25px;
    height: 25px;
    padding: 5px;
    /* background-color: #9691e3; */
}
.submitBtn{
    text-align: center;
}