.aulaColumn {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    background-color: burlywood;
}

.aulaFicheiros {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
}

.aulaSubmicoes {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
   
}

.aulaFile {
    display: flex;
}

.aulasubmicao {
    display: flex;
    flex-direction: row;    
    align-items: center;
    box-sizing: border-box;
}


.aulaContent {
    display: flex;
    flex-direction: row;
    background-color: aqua;
}

.tituloContainer {
    font-size: 32px;
    background-color: cadetblue;
}

.listaAulas {
    padding: 1%;
    background-color: chartreuse;
}

.listaAulas > div {
    margin-bottom: 5%;
}

.aulaTitulo {
    font-size: 24px;
    background-color: coral;
}