body{
    margin: 0;
}
.aulaColumn {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #afafaf4d;
}

.aulaFicheiros {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}

.aulaSubmicoes {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
   
}

.aulaFile {
    display: flex;
    align-items: center;
}

.aulaFile a:first-child {
    font-weight: bold;
    color: black;
}


.aulasubmicao {
    display: flex;    
    align-items: center;
    padding: 10px;
}

.submissaoTitulo {
    font-weight: bold;
}

.aulaHeader {
    display: flex;
    justify-content: space-between;
    background-color: #afafaf98;
    border: 1px solid #949494ee;
    border-radius: 2px;
}

.aulaTitulo {
    padding: 10px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inserirFicheiro {
    display: flex;
    padding: 10px;
    align-items: center;
    font-size: 1.3rem;
}
.inserirFicheiro > div:first-child {
    margin-right: 15px;
}

.aulaContent {
    display: flex;
    flex-direction: row;
    background-color: #afafaf4d;
}

.plusIcon {
    width: 40px;
}

.newAula {
    background-color: #afafaf4d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.2rem;
}

.customH2 {
    margin-bottom: 5px;
}

.newAula input {
    font-size: 20px;
    padding: 5px;
    min-width: 400px;
}

.tituloContainer {
    font-size: 32px;
    background-color: #9691e3;
    display: flex;
    justify-content: space-between;
    border: 1px solid #6c63ff;
}
.tituloContainer > p {
    margin: 25px;
    font-weight: bold;
}
.titlebtn {
    font-weight: bold;
    font-size: 1.1rem;
    background-color: white;
    align-items: center;
    padding: 10px 10px;
    text-align: center;
    color: black;
    border: 1px solid #6c63ff;
    border-radius: 2px;
}
.titlebtn:hover {
    transition: 0.5s;
    color: white;
    background-color: #2f2e41;
    cursor: pointer;
}

.titulobotoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}
.titulobotoes > button {
    margin-left: 10px;
}

.tituloDescricao {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.tituloDescricao p {
    padding: 25px;
    margin: 0;
}

.profMenu {
    display: flex;
    align-items: center;
}
.profMenu > div {
    display: flex;
    margin-left: 10px;
}
.profMenu button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.profMenu button > img {
    width: 25px;
    padding: 5px;
}

.profbtn {
    width: 25px;
}

/* Popup lista de alunos */

.listaAlunosContainer {
    display: none;
    flex-direction: column;
    background-color: #afafaf;
    width: 35%;
    position: absolute;
    padding: 2%;
    left: 32.5%;
    top: 25%;
    z-index: 1;
}

.tituloAlunos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
}

.tituloHidden {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;

}


.listaAlunos {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.listaAlunoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.listaAlunoRow p{
    /* border: 1px solid black; */
    width: 100%;
    margin: auto;
    text-align: center;
}

.descricaoLista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: -10px;
}
/*
.tituloAlunos img {
    width: 10%;
    height: 100%;
}
*/
/* Popup lista de ficheiros */

.listaFicheirosContainer {
    background-color: #afafaf;
    display: none;
    flex-direction: column;
    width: 60%;
    position: absolute;
    left: 20%;
    top: 25%;
    padding: 1%;
    z-index: 1;
}


.tituloWindow {
    width: 100%;
}

.descricaoWindow {
    width: 85%;
    text-align: center;
    /* margin-left: 15%; */
}

.exitWindow {
    width: 15%;
    margin: auto;
    margin-left: 6%;
}

.tituloWindow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
}

.descricaoListaFicheiro{
    font-size: 24px;
    text-align: left;
    margin-left: 10%;
}

.listaFicheiroRow {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    font-size: 18px;
}

.dataFicheiro {
    width: 45%;
    text-align: center;
    border: 1px solid black;
}

.nomeUtilizador {
    width: 35%;
    text-align: center;
    border: 1px solid black;
}

.download {
    width: 20%;
    text-align: center;
    border: 1px solid black;
}

.hiddenRowTable{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*margin-bottom: 4%;*/
}
.hiddenRow input[type="file"] {
    margin-left: 15%;

}
.hiddenRow input[type="text"] {
    margin-left: 6%;
    padding: 6px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.hiddenRow input[type="number"] {
    margin-left: 5%;
    padding: 6px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.hiddenContent input[type=submit] {
    font-weight: bold;
    font-size: 1.1rem;
    background-color: white;
    align-items: center;
    padding: 10px 10px;
    text-align: center;
    color: black;
    border: 1px solid #6c63ff;
    margin-left: 15px;
    border-radius: 2px;
}
.hiddenContent input[type=submit]:hover {
    color: white;
    background-color: #2f2e41 !important;
    font-weight: bold;
    transition: 0.5s;
}

.tituloHidden img{
    width: 13%;
}

.dataColum {
    border: 1px black solid;
    text-align: center;
    width: 32.6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dataColumBtn {
    border: 1px black solid;
    text-align: center;
    width: 32.6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.dataColumBtn:hover {
    background-color: #2f2e41 !important;
    transition: 0.5s;
}
.dataColumBtn:hover a{
    color: white;
    transition: 0.5s;
}
.dataColumBtn a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.dataOption{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5% 0%;
}
.dataOptionRow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3% 0%;
    padding: 0% 10%;
}
.dataOptionRow img{
    width: 20%;
}

.listaAulas {
    padding: 25px;
    background-color: #afafaf4d;
    border: 1px solid #6464647c;
}

.listaAulas > div {
    margin-bottom: 25px;
}

.mainContainer {
    margin-top: 150px;
    width: 90%;
    margin: 150px auto 50px auto;
}