.searchbar {
    display: flex;
    justify-content: flex-end;
}

.searchbar input {
    font-size: 20px;
}

.disciplinasContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
    background-color: #afafaf4d;
}

.mainContainer {
    margin: auto;
    width: 90%;
    margin-top: 10%;
    /* background-color: #afafaf4d; */
}

/* .disciplina {
    margin: 1% 1%;
    padding: 2.5% 2.5%;
    width: 15%;
    background-color: #afafaf4d;
    border-radius: 25px;
    text-align: center;
    font-size: 25px;
    
} */

.disciplina{
    margin: 1% 1%;
    width: 15%;
    font-size: 25px;
    padding: 10px 10px;
    text-align: center;
    background-color: #6c63ff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}

.disciplina a{
    color: white;
    text-decoration: none;
}

.disciplina:hover {
    color: white;
    background-color: #2f2e41 !important;

    transition: 0.5s;
}