body{
    margin:0;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
    margin-top: 5%;
    background-color: #b6b6b67a;
}

.formContainerPessoas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
    
    
}

.formContainerDisciplinas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}

.formContainerListaAlunos {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1%;
}

.listasContainer{
   /* border: 1px black solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formContainerListaDuo {
    border: solid 2px #6c63ff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 46%;
    background-color: #afafaf;
}
.formContainerListaFull {
    border: solid 2px #6c63ff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 100%;
    background-color: #afafaf;
}
.formContainerListaDuoHidden {
    /* border: 1px black solid;*/
     display: flex;
     flex-direction: column;
     padding: 1%;
     width: 50%;
    visibility: hidden;
 }

.dataColum {
    border: 1px black solid;
    text-align: center;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataColumTitle {
    border: 1px black solid;
    text-align: center;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dataColumTitleLarge {
    border: 1px black solid;
    text-align: center;
    width: 24.25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ListContent{
    overflow-y: auto;
    height: 280px;
}

.formBox {
    /*border: 1px black solid;*/
    border: solid 2px #6c63ff;
    border-radius: 25px;
    display: flex;
    width: 43%;
    padding: 2.5%;
    background-color: #afafaf;
}


.formBox form {
    font-size: 20px;
    width: 100%;
}

.formBox p {
    font-size: 25px;
    text-align: center;
}

.formRow {
    display: flex;
    flex-direction: row;
    margin: 1%;
}

.formRow label {
    width: 25%;
}

.formRow input[type=text], input[type=password] {
    box-sizing: border-box;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formBox input[type=submit] {
    float: right;
    background-color: #dcdcdc;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formRow select {
    box-sizing: border-box;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formBox input[type=number],input[type=email] {
    box-sizing: border-box;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.listaAluno {
    
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5%;

}

.nomeAluno {
    border: 1px black solid;
    text-align: center;
    width: 30%;
}

.numeroAluno {
    border: 1px black solid;
    text-align: center;
    width: 25%;
}

.mailAluno {
    border: 1px black solid;
    text-align: center;
    width: 40%;
}

.removeAluno {
    border: 1px black solid;
    justify-content: center;
    width: 5%;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.search input[type=text]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search button{
    background-color: #dcdcdc;
    color: black;
    padding: 12px 18px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.titleBold{
    font-weight: bold;
}
