.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2%;
    width: 50%;
    
    background-color: #afafaf4d;
}

.imgContainer {
    justify-content: space-around;
    text-align: center;
    border-bottom: 1px solid black;
    margin: auto;
    width: 95%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    padding: 0 25%;
    margin-top: 20px;
}

.formFields {
    display: flex;
    flex-direction: column;
}

.formFields label {
    font-size: 1.2rem;
}

.formFields input {
    /*margin-left: 25%;
    width: 50%;*/
    margin: 5px 0px;
    font-size: 1.2rem;
    padding: 10px;
}
/*
.formFields label {
    margin-left: 25%;
}*/
.botaoDiv {
    text-align: center;
    margin: 25px 0px;
}
.botaoDiv > input {
    text-align: center;
    padding: 10px 25px;
    font-size: 1.2rem;
    border-radius: 2px;
    background-color: white;
    border: 1px solid black; 
}
.botaoDiv > input:hover {
    /*margin-bottom: 5%;*/
    background-color: #6c63ff;
    transition: 0.5s;
    color: white;
}

.loginTitle{
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
}
html{
    height: 100%;
    background-color: #fbfbfb;
    background-image: url(../images/loginWallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}