/*
* {
    border: 5px black solid;
}
*/


header {
    border-bottom: 1px black solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   /* margin-bottom: 5%; */
    padding: 1%;
    justify-content: space-between;
}

.headerLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.logoContainer {
    margin: 0 2%;
    padding: 1% 2.5%;
    width: 5%;
    background-color: #afafaf4d;
}

.headerProfile {
    margin: 0 2%;
    padding: 1% 2.5%;
    width: 5%;
    background-color: #afafaf2c;
}

.profileImg{
    width: 75px;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #afafaf4d;
    width: 60%;
    height: 50%;
    justify-content: space-between;
    
}

.navBarItem {
    width: 33%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 2%;
    color: black;
}
.active {
    background-color: #6765658f;
}