* {
    font-family: Arial, sans-serif;
}


header {
    border-bottom: 1px black solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   /* margin-bottom: 5%; */
    padding: 1%;
    justify-content: space-between;
    background-color: #9691e3;
    box-shadow: 0px 4px 7px 0px #6c63ff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.headerLeft {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    width: 50%;
    align-items: center;
}

.logoContainer {
    margin: 0 2%;
    margin-right: 50px;
    padding: 1% 2.5%;
    width: 5%;
    /*background-color: #afafaf4d;*/
}

.headerProfile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2%;
    padding: 1% 2.5%;
    width: 9%;
    /*background-color: #afafaf2c;*/
    align-items: center;
}

.profileImg{
    width: 45px;
}
.profileNotificacoes{
    width: 65px;
    height: 50px;
    margin-right: 10px;
}

/* .notificacoesBtn {
    background-color: #afafaf4d;
    border:2px solid  #575353;
    width: 35%;
    float: right;
    text-align: center;
    text-decoration: none;
    color: black;
} */

.notificacoesBtn {
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    background-color: white;
    text-decoration: none;
    border-radius: 2px;
}
.notificacoesBtn:hover {
    color: white;
    background-color: #2f2e41 !important;
    font-weight: bold;
    transition: 0.5s;
}
/*MENUS ESCONDIDOS*/
.profileMenu{
    background-color: #ffffff;
    display: none;
    flex-direction: column;
    float: right;
    width: 6%;
    margin-right: 5%;
    margin-top: -30px;
    text-align: center;
    z-index: 9999;
    border:  1px solid;
}

.profileMenuBtn{
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-bottom: 5%;
}

.dropdownBox {
    position: relative;
    display: inline-block;
}

.dropdownBoxProfile {
    position: relative;
    display: inline-block;
}

.notificacoesMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 257px;
    box-shadow: 0px 8px 16px 0px #6c63ff;
    z-index: 1;
    border: 1px solid;
    align-items: center;
    padding: 20%;
    right: -120px;
}

.notificacoesMenu p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profileMenus {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    box-shadow: 0px 8px 16px 0px #6c63ff;
    z-index: 1;
    border: 1px solid;
    align-items: center;
    padding: 7%;
    right: -26px;
    align-items: flex-start;
}

.profileMenus a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownBoxProfile:hover .profileMenus{
    display: flex;
}

.navbar {
    display: flex;
    flex-direction: row;
    
    width: 60%;
    height: 50%;
    /*justify-content: space-between;*/
    border-radius: 200px;
    
}

.navBarItem {
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    background-color: white;
    text-decoration: none;
    border-radius: 2px;
}
.navBarItem:hover {
    color:white;
    background-color: #2f2e41;
    transition: 0.5s;
}

.active {
    background-color: #6765658f;
}
.logoContainer img{
    width: 210%;
}

.dropdownBox:hover .notificacoesMenu{
    display: flex;
}